.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #2C3882;
    border-color: #2C3882 transparent #2C3882 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    background-image: url(https://cdn.chanhtuoi.com/uploads/2020/05/icon-facebook-08-2.jpg.webp);
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  